sage

input/millennium/
output/
ignore/

tests/test_env/
tests/test_results/
tests/test_data/microuchuu

tests/test_hdf5_output
tests/test_io_interface
tests/test_binary_output
tests/test_endian_utils
tests/test_lhalo_binary
tests/test_property_serialization
tests/test_module_callback
tests/test_pipeline_invoke
tests/test_lhalo_hdf5
tests/test_pipeline

trees_*
*.o
*.*~
libsage.a
libsage.so
*.so
*.patch
perf.data*
tmp*
*vscode*
_sage_cffi.*
codecov
*.tar*
*.png
*.ipynb_checkpoints
*.dSYM
sage_analysis/plots/
*.txt
*.log
*.out
*.DS_Store
xx*
yy*
*.hdf5

# sage_analysis Package Stuff #
*.egg-info
*__pycache__*

# Documentation with Sphinx #
docs/build
docs/make.bat
.aider*
