sage
tests/test_results/
tests/test_env/
tests/test_module_callback
input/millennium/
output/
ignore/

trees_*
*.o
*.*~
libsage.a
libsage.so
*.so
*.patch
perf.data*
tmp*
*vscode*
_sage_cffi.*
codecov
*.tar*
*.png
*.ipynb_checkpoints
*.dSYM
sage_analysis/plots/
*.txt
*.log
*.out
*.DS_Store
xx*
yy*
*.hdf5

# sage_analysis Package Stuff #
*.egg-info
*__pycache__*

# Documentation with Sphinx #
docs/build
docs/make.bat
.aider*
